<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<!-- <script src="http://www.aib.edu.au/custom/files/docs/jquerycookie.js"></script>
<script src="http://www.aib.edu.au/custom/files/docs/jqueryanimatenumbers.js"></script>-->
<script src="http://www.aib.edu.au/custom/files/docs/d3min.js"></script>
<script src="http://www.aib.edu.au/custom/files/docs/c3min.js"></script>
<script src="http://www.aib.edu.au/custom/files/docs/html2canvas.js"></script>
<script src="//app-sn02.marketo.com/js/forms2/js/forms2.min.js"></script>
<!-- <script>var $jQ =  $.noConflict(true); </script> -->