/***
*

** AIB Interactive Tool color pallette

*
***/

$_PINK: pink;
$_YELLOW: #f3f76a;
$_WHITE: #ffffff;
$_BLACK: #000;
$_DANK: #333;
$_DARK_GREEN: #060;
$_GREEN: #090;
$_BRIGHT_GREEN: #0c0;
$_ALMOSTDANK: #353537;
$_VERYDARKGREY: #666;
$_DARKGREY: #999;
$_GREY: #aaa;
$_GREYBUTTON: #bbb;
$_LIGHTGREY: #eee;
$_VERYLIGHTGREY:#fafafa;
$_AIBRED: #931c1c;
$_AIBRED2: #d43037;
$_GREY_LEFT: #f4f4f4;
$_GREY_RIGHT: #e2e2e2;
$_GREY_SELECTA: #ececec;

$_SLIDER_RED_TRACK: #ba0e28;
$_SLIDER_RED_BUTTON: #d43037;
$_SLIDER_RED_KNOB: #c00;

$_SLIDER_GREEN_TRACK: #1d8b2c;
$_SLIDER_GREEN_BUTTON: #39b54a;
$_SLIDER_GREEN_KNOB: #0c0;

$_SLIDER_AMBER_TRACK: #d66000;
$_SLIDER_AMBER_BUTTON: #eb7400;
$_SLIDER_AMBER_KNOB: #eb8f33;

$_TRANSPARENT_WHITE: rgba(255, 255, 255, 0);
$_TRANSPARENT_BLACK: rgba(0, 0, 0, 0);